@charset "utf-8";

body{
    background-color: rgb(255, 224, 247);
    & .goquestion{
        font-size: 200%;
    }
    & .gray{
        color: rgb(53, 53, 53);
    }
    & a>img{
        margin-left: -2px;
        margin-bottom: -5px;
        height: 20px;
    }
    & #cc{
        display: none;
        position: fixed;
        bottom: 0px;
        width: 95vw;
        margin-left: -5vw;
        padding: 10px 5vw;
        text-align: center;
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.856);
        & #ccok{
            display: inline-block;
            margin-top: 5px;
            padding: 2px;
            border: rgb(0, 194, 168) solid 1px;
            border-radius: 2px;
            width: 60px;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.199);
            &:hover{
                cursor: pointer;
            }
        }
    }
}



