@charset "utf-8";

body{
    background-color: rgb(255, 224, 247);
    margin: 0px;
}

#box{
    width: 90%;
    max-width: 600px;
    margin-left: 50%;
    transform: translate(-50%);
    & #inbox{
        margin: 40px 0px;
        & .tit{
            font-weight: bold;
            font-size: 150%;
        }
        & #inport{
            margin: 10px;
            font-size: 100%;
        }
    }
    & #exbox{
        & .tit{
            font-weight: bold;
            font-size: 150%;
        }
        & #export{
            margin: 10px;
            font-size: 100%;
        }
    }
}
