@charset "utf-8";

body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

#exbox{
    #expic{
        width: 100%;
        border-bottom: black solid 1px;
    }
    #paper{
        margin: 5px;
        &>div{
            line-height: 120%;
            margin: 10px 0px;
            &>.red{
                margin-right: 5px;
                font-size: 150%;
                color: rgb(255, 0, 0);
            }
            &>div{
                margin-top: 10px;
            }
        }
    }
}
